<center>
    <div class="button-group">
        <div>
            <a href="#netpulse/register" class="back black box button large">Get Started</a>
        </div>
    </div>
    <br />
    <p><a href="#netpulse/login">I already have a net pulse account</a></p>
</center>