extends layout
block content
    div.page.wizard.black.v2.account#app-main(data-apps='["core","account"]', data-modules='["data_components"]')

block script
    script(src="/assets/js/vendor/bower_components/requirejs/require.js", data-main="/assets/js/apps/core/main")