extends layout
block content
    div.page
        h1.title #{title}

        h2.title inner pages alias links
        section.paragraph
            ul
                li
                    a(href="/personal-training/purchase") PT Purchase
                li
                    a(href="/personal-training/schedule") PT Schedule
                li
                    a(href="/account") Account Bulling




block script
    //script(data-main="/apps/core/main" src="/vendor/bower/requirejs/require.js")
