doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/assets/css/equinox.css', type="text/css")
        link(rel='stylesheet', href='/assets/css/equinox-medium.css', type="text/css", media="screen and (min-width: 768px)")
        link(rel='stylesheet', href='/assets/css/equinox-large.css', type="text/css", media="screen and (min-width: 1024px)")
        link(rel='stylesheet', href='/assets/css/equinox-extralarge.css', type="text/css", media="screen and (min-width: 1920px)")

        script(src="/assets/js/vendor/bower_components/jquery/jquery.js")
        script.
            $(function(){
                console.log('jQuery is loaded version: ', $.fn.jquery);
            });
    body
        include includes/header
        block content
        include includes/footer
        script.
            var APIEndpoint = '//' + window.location.host + '/v1';
            var MainDomain = '//' + window.location.host;

        //script(src='//assets.adobedtm.com/622415e8d5fc8897871fbd8b8d7ac9505137a57b/satelliteLib-a9d8cd3a4f02f240d459b5281c3bf39ddceb24cc-staging.js')

        script(src="/assets/js/apps/account/mocks/user.js")

        //script.
            //_satellite.pageBottom();

        block script

