extends layout
block content
    div.page.wizard.black.v2.account#app-main(data-apps='["core","other_settings"]', data-modules='["data_components"]')

    section.module-3col-points
        h3.title CONNECT OTHER WORKOUT DATA
        .row
            .col-1-3
              .col-padding
                div
                  img.circle(src="/assets/images/logos/netpulse/logo-fb.png")
                  h4
                    | CONNECTED FITNESS EQUIPMENT
                  | All of your favorite equipment brands, now on the one network - accessible with one ID. Be sure to ask your partners for Netpulse-compatible equipment or add-on screens.
            .col-1-3
              .col-padding
                div
                  img.circle(src="/assets/images/logos/netpulse/logo-fb.png")
                  h4
                    | 3RD PARTY APPS/DEVICES
                  | We've partnered with the best fitness apps and devices to make sure all your member tracking, nutrition and health data goes to your network, even when it happens outside your walls.
            .col-1-3
              .col-padding
                div
                  img.circle(src="/assets/images/logos/netpulse/logo-fb.png")
                  h4
                    | XCAPTURE
                  | Have older cardio equipment? Use the mobile app to take a photo and track cardio workouts on non-connected fitness equipment.

block script
    script(src="/assets/js/vendor/bower_components/requirejs/require.js", data-main="/assets/js/apps/core/main")