extends layout
block content
    div.page
        h1.title #{title}
        p.paragraph
            a(href="/personal-training/purchase") Personal Traning Purchase
        p.paragraph
            a(href="/personal-training/schedule") Personal Traning Schedule

block script
    //script(data-main="/apps/core/main" src="/vendor/bower/requirejs/require.js")
