html
    head
        title | AUTOMATIC PERSONAL TRAINING RENEW POLICY

        link(href="/assets/css/equinox.css?f43b2e15213a8" rel="stylesheet" type="text/css")
        link(href="/assets/css/equinox-medium.css?f43b2dfe7cb17" media="screen and (min-width: 768px)" rel="stylesheet" type="text/css")
        link(href="/assets/css/equinox-large.css?f43b2e1a0ddff" media="screen and (min-width: 1024px)" rel="stylesheet" type="text/css")
        link(href="/assets/css/equinox-extralarge.css?f43b2e216efe0" media="screen and (min-width: 1920px)" rel="stylesheet" type="text/css")


    style.
        body {
            padding: 79px 20px;
        width: auto;
        }

        body > div {
            width: 70%;
        margin: 0 auto;
        }

        body > div > h3 {
            font-weight: 200;
        letter-spacing: 0;
        line-height: 60px;
            margin-bottom: 22px;
            font-size: 50px;
        }



            h1 {
                text-align: center;
                margin-bottom: 16px;
        }

            h3 {
                margin-bottom: 16px;
        }

            .divHalf h3 {
                text-align: left;
                margin-left: 0;
        }

        .tr {
            margin-top: 52px;
            font-weight: 500;
        }

        .tr h2 {
            font-weight: 500;
        }

        .trr {
            margin-top: 31px;
            margin-bottom: 16px;
            overflow: hidden;
        }

        p, .p {
            margin-bottom: 0.03em;
            line-height: 1.5;
        }

        .divHalf {
            float: left;
            width: 50%;
        box-sizing: border-box;
        padding-right: 12px;
        }

            .divThird {
                float: left;
                width: 11%;
        box-sizing: border-box;
        }

        .divThirdd {
            float: left;
            width: 33.33%;
        box-sizing: border-box;
        }

        .clearfix {
            clear: both;
        }

        .sub {
            margin-bottom: 16px;
            overflow: hidden;
        }

block content
    div.page
        p An Equinox member may opt-in for automatic purchase of a single session or a package.
        p On the night of a member's personal training session, members opted into automatic personal training renewal and do not have eligible inventory for their session will have a package purchased based on their trainer's current tier and pack size selected.
block script
