extends layout
block content
    div.page.purchase#app-main


block script
    script(src="/assets/js/vendor/bower_components/requirejs/require.js", data-main="/assets/js/apps/purchase/main")

    script.
        var tagData = {};
        tagData.global = {"pageArea":"pub","pageSection":"training","pageSubsection":"purchase","pageItem":"","serverName":"090-EQXCORPVM02"};