<fieldset class="fieldset-row">
    <div class="button-group">
        <div>
            <button class="black box button large cancel">Cancel</button>
            <button class="white box button large submit">Submit</button>
        </div>
    </div>
</fieldset>