<h3>your billing info</h3>
<% if(useCardOnFile) { %>
    <p><%= cardType %> ending in - <strong><%= cardLastFourDigits %></strong></p>
<% }
    else
{ %>
    <p><%= cardType %> ending in - <strong><%= cardLastFourDigitsNew %></strong></p>
<% } %>

<p><a class="link edit" href="#step2">Edit</a></p>